@page
@model RazorPizza.Pages.Checkout.CheckoutModel
@{
    var imgPath = "~/images/Pizzas/" + Model.ImageTitle + ".png";
}
Checkout
<a asp-page="Thankyou">Thank You</a>

<div class="container align-content-center">
    <div class="row">
        <div class="col-4 my-auto" align="center">
            <p class="text-justify"> We hope you enjoy your meal !!! <br /> Don't forget to give us 5 stars.</p>
        </div>
        <div class="col-4 my-auto mx-auto" align="center">
            <h1>Your Order</h1>
            <img class="w-75 mb-2" src="~/images/Pizzas/Bolognese.png" alt="" asp-append-version=true />
            <a class="btn btn-outline-dark mx-auto" asp-page="Thankyou"> Confirm Order </a>
        </div>
        <div class="col-4 my-auto mx-auto" align="center">
            <p class="fw-bold"> Your Pizza Name: @Model.Name</p>
            <p class="mt-1 fw-bold"> Your Pizza Price: @Model.PizzaPrice</p>
        </div>
    </div>
</div>