@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-4">
            <h2>Pizza Time BITCH!!!</h2>
            <a asp-page="/Forms/CustomPizza"><img class="w-50 mainImage" src="~/images/pizza-time-logo.jpg" alt="Create your own Pizza, I ain't your mama !'" /></a>
            <h4 class="">Create your own Pizza</h4> <br />
            <h5 class="">I ain't your mama </h5>
        </div>
    </div>
    <div class="row">
    </div>
</div>
