@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 my-auto">
            <a asp-page="/PizzaSale"><img class="w-100 mainImage" src="~/images/pizza-time-logo.jpg" alt="Create your own Pizza, I ain't your mama !'" /></a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
