@page
@model RazorPizza.Pages.PizzaSaleModel
@{
    ViewData["Title"] = "Pizza Sale";
}

<h1>Pizza Sale</h1>
<a asp-page="/Forms/CustomPizza">Custom Pizza</a>

<a asp-page="/Checkout/Checkout">Checkout</a>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Pizza Time BITCH!!!</h2>
            <img class="w-50 mainImage" src="~/images/Pizzas/Create.png" alt="Create your own Pizza, I ain't your mama !'" />
            <h4 class="">Create your own Pizza</h4> <br />
            <h5 class="">I ain't your mama </h5>
        </div>
    </div>
    <div class="row">

    </div>
</div>