@page
@model RazorPizza.Pages.PizzaSaleModel
@{
    ViewData["Title"] = "Pizza Sale";
}
<div align="center" class="fst-italic">
    <h1>Our Greatest, Finest Pizza Selections...</h1>
</div>





<div class="container">
    <div class="row" align="center">
        <div class="col-4"><img class="w-75 mainImage" src="~/images/Pizzas/Create.png" alt="Create your own Pizza, I ain't your mama !'" /></div>
        
        <div class="col-4 my-auto"> 
           
            <h2 class="mainImageForText">Create your own Pizza</h2> <br />
            <h3 class="mainImageForText">I ain't your mama </h3> <br />
            <h4 class="mainImageForText">Seriously... It's so Delicious !!!</h4>
        </div>
        <div class="col-4 my-auto">
            <a asp-page="/Forms/CustomPizza" class="btn btn-warning fw-bold mainImageForText w-75">  !!! Try it !!!   </a>
        </div>
    </div>

    <div class="row">
        @foreach (var pizza in Model.FakePizzaDb)
        {
            var imgPath = "~/images/Pizzas/" + pizza.ImageTitle + ".png";

            <div class="col-4 mb-3" align="center">
            <img class="w-100" src="@imgPath" asp-append-version=true />
            <a class="btn btn-outline-dark mt-2 mainImageForText"  asp-page="/Checkout/Checkout" asp-route-Name=@pizza.Name asp-route-ImageTitle=@pizza.ImageTitle asp-route-PizzaPrice=@pizza.FinalPrice> 
            Get This Pizza!
            </a>
            </div>
        }
    </div>    
</div>