@page
@model RazorPizza.Pages.PizzaSaleModel
@{
    ViewData["Title"] = "Pizza Sale";
}

<h1>Pizza Sale</h1>


<a asp-page="/Checkout/Checkout">Checkout</a>

<div class="container">
    <div class="row">
        <div class="col-4"><img class="w-75 mainImage" src="~/images/Pizzas/Create.png" alt="Create your own Pizza, I ain't your mama !'" /></div>
        
        <div class="col-4 my-auto"> 
           
            <h2 class="mainImageForText">Create your own Pizza</h2> <br />
            <h3 class="mainImageForText">I ain't your mama </h3> <br />
            <h4 class="mainImageForText">Seriously... It's so Delicious !!!</h4>
        </div>
        <div class="col-4 my-auto">
            <a asp-page="/Forms/CustomPizza" class="btn btn-warning font-weight-bold"> Try it ! </a>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>